

section{
    padding-top: 60px;
}



#txt1 h2{
    display: inline-block;
    margin-bottom: 15px;

    font-size: 35px;
    margin-left: 5px;

    color: white;    
    border-bottom:solid 2px rgb(129, 129, 129);
}

#gif1{
    width: 100%;
    margin-left: 20%;
}

#gif1 img{
    width: 110%;
}

section:nth-child(2){
    padding-top: 0px;
}

#gif2{
    width: 150%;
    /*margin-right: 60%;*/
    margin-left: -60%;
}

#gif2 img{
    width: 100%;
}

#img1 img{
    width: 100%;
}

p{
    padding: 10px;
    font-size: 16.6px;
    font-family: system-ui;
}

#img2{
    padding-top: 50px;

}

#img2 img{
    width: 100%;
    opacity: 60%;
}

/*.ondas{
    position: absolute;
    width: 100vw;
    height: 70%;
    background-image: url(https://i.pinimg.com/564x/35/fc/4f/35fc4fea95ffa850b257178c97345143.jpg);

    z-index: -1;
    opacity: 40%;
}*/