
/*Moblie*/

section{
    padding-top: 70px;
}

h2{
    display: inline-block;
    margin-bottom: 15px;

    font-size: 35px;
    margin-left: 5px;

    color: white;    
    border-bottom:solid 2px rgb(129, 129, 129);
}

section:nth-child(2), section:nth-child(3){
    padding-top: 0px;
}


p{
    padding: 15px;
    font-size: 16.6px;
    font-family: system-ui;
}

.img1{
    width: 100%;
    height: 50vh;

    background-image: url(https://i.pinimg.com/564x/53/c5/1f/53c51f1030eb4f0cc82c4375dbe7128d.jpg);
    background-size:120%;
    background-repeat: no-repeat;
    background-position-x: 18vh;
    background-position-y:bottom;
}

.gif1{
    width: 100%;
    height: 35vh;

    background-image: url(https://i.pinimg.com/originals/1b/d1/df/1bd1dfc8b21c6cae4bc716673c2e2469.gif);
    background-repeat: no-repeat;
    background-position-x: -25vh;
    background-position-y: 45%;

    margin-bottom: 50px;
}

.gif2{
    width: 100%;
    height: 40vh;

    background-image: url(https://i.pinimg.com/originals/b7/d3/78/b7d37886b4191b64fbe237a38602901f.gif);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position-x: 18vh;
    background-position-y: bottom;
}

.img2{
    padding-top: 35px;
}

.img2 img{
    width:100%;
}

#continuacao{
    padding-top: 20px;
}

.img3{
    padding-top: 50px;
}

.img3 img{
    width: 100%;
}


.img4{
    padding-top: 50px;

}

.img4 img{
    width: 100%;
    opacity: 60%;
}



@media(max-width:375px){
    .img1{
        background-position-y:45%;
    }

    .gif1{
        height: 45vh;
        background-position-y:35%;
    }

    .gif2{
        background-size: 90%;
        height: 50vh;
        }
}


@media(min-width:667px) and (max-width:999px){
    img{
        display: none;
    }

    #Tirarbackground{
        display: none;
    }

}

/*Desktop*/

/* Media Query para 1024px e acima */
@media(min-width: 1024px) {
    main {
        width: 95%;
        margin: auto;
    }

    section:nth-child(1) {
        margin-top: 70px;
    }

    #Tirarbackground {
        background: none;
    }

    #txt1 {
        margin-left: 20px;
        margin-top: 100px;
    }

    .txt1 h2 {
        margin-left: 20px;
    }

    .gif1 {
        height: 100%;
    }

    .gif2 img {
        width: 380px;
    }

    section:nth-child(4) {
        padding-top: 400px;
    }

    .img2 {
        display: none;
    }

    section:nth-child(5),section:nth-child(6) {
        flex-direction: column;
        padding-bottom: 300px;
    }

    .img1 img {
        width: 500px;
        height: 500px;
    }

    .gif1 {
        order: -1;
    }
}

/* Media Query para 1280px e acima */
@media(min-width: 1280px) {
    main {
        width: 78%;
        margin: auto;
    }

    /* Regras adicionais ou ajustadas para 1280px e acima */
    /* As regras abaixo já estão definidas para 1024px e se aplicam automaticamente a 1280px,*/
}

@media(min-width:1366px){
    main{
        width:60%;
    }

}
