
/*Moblie*/

.bannerDesktop{
    display: none;
}

.pensando{
    width: 100%;
    border-bottom: solid 1px #414141;
}


.txt1{
    width: 90%;
    margin: auto;
    padding-top: 10px;
}

h2{
    color:rgb(180, 180, 180);
    font-family: math;
    font-weight: 200;

    padding-bottom: 15px;
}

.albert-eistein-foi{
    padding-top: 10px;
}

#img2{
    width: 90%;
    margin: auto;
}

.cachimbo{
    width: 80%;
    margin-top: 30px;

    border-radius: 20px;
    opacity: 80%;
}

.txt2{
    width: 90%;
    margin: auto;
    padding-top: 15px;
}

.video{
    margin-top: 10px;
    text-align: center;
}

iframe{
    width: 95%;
    padding-top: 100px;
    padding-bottom: 100px;

    opacity: 75%;
}


#img3{
    padding-top: 50px;
}

.EinsteinCrianca{
    width: 100%;
    border-top: solid 2px white;
    opacity: 77%;
}

#degrade{
    background-image: linear-gradient(73deg, #181818, black);
}

.txt3{
    width: 90%;
    margin: auto;
    padding-top: 30px;
}


/*Desktop*/


@media(min-width:1024px){
    .bannerDesktop{
        display: inline-block;
        width: 100vw;
        height: 60vh;
        background-image: url(einstein-fundo4.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: center;
        background-position-y: center;
    }

    main{
        width: 80%;
        margin: auto;
    }

    #h1{
        display: block;
        text-align: center;
        padding-top: 20px;

        font-family: sans-serif;
        color: white;
    }

    img{
        box-shadow: -13px 20px 12px -4px rgb(93 79 79 / 30%);
    }

    #img1{
        width: 80%;
        margin-right: 20px;

        border-bottom: 0;
    }

    #img1 img{
        border-radius: 20px;
        opacity: 80%;
    }

    .txt1{
        border-radius: 7px;
        box-shadow: -5px 5px 7px -4px rgb(225 225 225 / 32%);
        padding: 10px;
        padding-bottom: 5px;
        height: fit-content;
    }

    h2{
        font-size: 40px;
    }

    p{
        font-size:20px;
    }

    #resetarMargin{
        margin: 0;
    }

    #img2{
        order: 1;
    }

    .txt2 h2{
        text-align: center;
    }
    
    #img2{
        margin-left: 20px;
    }

    iframe{
        height: 80vh;
        padding: 0;

        opacity: 60%;
        margin-top: 100px;
        margin-bottom: 100px;

        border: solid 3px rgb(95 92 92);
        border-radius: 20px;
    }

    #EinsteinCrianca{
        border-radius: 17px;
    }

    #degrade{
        background-image: none;
    }

    .txt3{
        width: 100%;
        text-align: left;
    }

    .txt3 p{
        padding-bottom: 20px;
        
        font-size: 25px
    }
}