.pensando{
    width: 100%;
    border-bottom: solid 1px #414141;
}

#texto1{
    width: 90%;
    margin: auto;
    padding-top: 10px;
}

h2{
    color:white;
    font-family: math;
    font-weight: 200;

    padding-bottom: 15px;
}


p{
    color:rgb(129, 129, 129);
}

.albert-eistein-foi{
    padding-top: 10px;
}

#img2{
    width: 90%;
    margin: auto;
}

.cachimbo{
    width: 80%;
    margin-top: 30px;

    border-radius: 20px;
    opacity: 80%;
}

#texto2{
    width: 90%;
    margin: auto;
    padding-top: 15px;
}

.video{
    margin-top: 10px;
    text-align: center;
}

iframe{
    width: 95%;
    padding-top: 100px;
    padding-bottom: 100px;

    opacity: 75%;
}


#img3{
    padding-top: 50px;
}

.louza{
    width: 100%;
    border-top: solid 2px white;
}

#degrade{
    background-image: linear-gradient(73deg, #181818, black);
}

#texto3{
    width: 90%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}