.pensando{
    width: 100%;
}

#texto1{
    width: 90%;
    margin: auto;
    padding-top: 10px;
}

h1{
    color:white;
    font-family: math;
    font-weight: 200;
}

p{
    color:rgb(129, 129, 129);
}

.albert-eistein-foi{
    padding-top: 10px;
}

#img2{
    width: 90%;
    margin: auto;
}

.cachimbo{
    width: 80%;
    padding-top: 30px;

    border-radius: 20px;
}

#texto2{
    width: 90%;
    margin: auto;
    padding-top: 15px;
}

.video{
    margin-top: 10px;
    text-align: center;
}

iframe{
    width: 95%;
    border-radius: 30px;

    padding-top: 100px;
    padding-bottom: 100px;
}

.cachimbo{
    
}

#img3{
    padding-top: 50px;
}

.louza{
    width: 100%;
    border-top: solid 2px white;
}

#degrade{
    background-image: linear-gradient(73deg, #393939, black);
}

#texto3{
    width: 90%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}

h1{
    padding-bottom: 15px;
}