button{
    display: inline;
    position: absolute;

    background: none;
    border:none;
}

#btn-fechado{
    display: inline;    
    position: absolute;

    font-size: 30px;
    padding: 4px;
    color:white;
}

#btn-aberto{
    display: none;
    position: fixed;

    font-size: 20px;
    padding: 4px;
    color:#a8acad;
}

@keyframes abrindoNav{
    from{
        left: -50%;
    }
    to{
        left: 0;
    }
}

@keyframes fechandoNav{
    from{
        left:0;
    }

    to{
        left:-50%;
    }
}

nav{
    display: none;
}

.nav-aberto{
    display: inline;
    position: fixed;

    width: 50%;
    height: 100%;

    background-color: rgb(33, 33, 33, 0.95);
    font-family: sans-serif;
    border-radius: 26px;

    overflow: auto;
}

ul{
    margin-top: 55px;
    margin-left: 20px;
}

.h2nav{
    margin-top: 15px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: solid 0.1px white;
    width: 80%;

    font-size: 25px;
    font-family: inherit;
    color:white;
}

li{
    display: block;
    font-size: 23px;


    padding-top: 7px;
    padding-bottom: 7px;
}

a{
    text-decoration: none;
    color: #8e9696;
<<<<<<< HEAD
=======
}

a:hover{
    color: white;
}


/*Desktop*/

@media (min-width:1024px){
    header{
        border-bottom: solid 2px #373737;
    } 

    button{
        display: none;
    }
    .desktop{
        display: inline;
    }

    #navDesktop{
        font-family: sans-serif;
    }
    
    #login{
        position: absolute;
        right: 0px;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 27px;
        color: rgb(108 114 114);
    }

    #login:hover{
        color: white;
    }

    .itens{
        position: absolute;
        margin-top: 10px;
    }

    #facebook{
        margin-left: 10px;
        font-size: 27px;
        color: rgb(108 114 114);
    }

    #insta{
        margin-left: 10px;
        font-size: 27px;
        color: rgb(108 114 114);
    }

    ul{
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
        width: 90%;
        text-align: center;
    }

    ul li{
        display: inline;
        color: white;
        margin-left: 30px;
    }

    a{
        font-size: 28px;
    }
>>>>>>> desktop
}