
@media (min-width:1024px){
    button{
        display: none;
    }
    .desktop{
        display: inline;
        font-family: sans-serif;
    }

    .desktop ul{
        margin-top: 10px;
        padding-top: 10px;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .desktop li{
        display: inline;
        color: white;
        margin-left: 10px;
    }

    h1{
        display: block;
        text-align: center;
        font-family: sans-serif;
        color: white;
    }

    .container{
        display: flex;
    }
}